
<h4> Begin by browsing through gifts! </h4>
<p><%= link_to "See All Gifts", gifts_path %></p>

<ul>
<h3> Nice List: </h3>
<% @people.each do |p| %>
  <%= link_to p.name, person_path(p.id) %><br>
<% end %>
</ul>
