
<ul>
<h3> Nice List </h3>
<% @people.each do |p| %>
  <%= link_to p.name, person_path(p.id) %><br>
  <%= p.relationship %><br>
  <%= p.nice_rating %><br>
  <%= p.naughty_rating %><br><br>
<% end %>
</ul>
