<hr>
<h2><%= @person.name %></h2>

<h4>
  <label> Relationship: </label>
  <%= @person.relationship %><br><br>
  <label> Nice Rating: </label>
  <%= @person.nice_rating %><br><br>
  <label> Naughty Rating: </label>
  <%= @person.naughty_rating %><br><br>
</h4>

<h2> Gifts: </h2>


